<div class="container-home p-5 h-100">
    <div class="container-home__content h-100 p-1">
        <div class="card-home h-100">
            <div class="nav-bar">
                <button [ngClass]="{'menu-active': menuActive === 'list'}" (click)="menuActive = 'list'">List</button>
                <button [ngClass]="{'menu-active': menuActive === 'favorite'}" (click)="menuActive = 'favorite'">Favorite</button>
            </div>
            <div class="content-tab p-4 w-100">
                <div class="content-menu w-100" [ngClass]="{'show-content': menuActive === 'list'}">
                    <app-list [pokemonRequest]="pokemonRequest" class="w-100"></app-list>
                </div>
                <div class="content-menu w-100" [ngClass]="{'show-content': menuActive === 'favorite'}">
                    <app-favorite class="w-100"></app-favorite>
                </div>
            </div>
        </div>
    </div>
</div>
