<div class="container-home p-5 h-100">
    <div class="container-home__content h-100 p-1">
        <div class="card-home h-100">
            <mat-tab-group class="h-100">
                <mat-tab label="List"> 
                    <app-list [pokemonRequest]="pokemonRequest" (offset)="changeOffset($event)" class="w-100"></app-list>
                </mat-tab>
                <mat-tab label="Favorite">
                    <app-favorite class="w-100"></app-favorite>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
