.container-home {
    &__content {
        border-radius: 1rem;
        .card-home {
            border-radius: 1rem;
            color: white;
        }
        mat-tab-group {
            display: grid;
            grid-template-rows: auto 1fr;
            font-size: 20px;
        }
    } 
}