<div class="container-list">
    <div class="title p-3">Pokemon {{pokemonRequest?.count}}</div>
    <div>
        @for (item of pokemonRequest?.results;track item.name) {
            <div class="item-list d-flex">
                <div>
                    <img src="../../../../assets/icons/user-icon.svg">
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <div class="d-flex flex-column justify-content-center">
                        <div>{{ item.name }}</div>
                        <div (click)="showDetail(item.url)" class="openDetail">OPEN DETAIL</div>
                    </div>
                    <div class="d-flex align-items-center">
                        @if (isFavorite(item.url)) {
                            <img (click)="removeFavorite(item.url)" src="../../../../assets/icons/star-full-icon.svg">
                        } @else {
                            <img (click)="setFavorite(item.url)" src="../../../../assets/icons/star-icon.svg">
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
